/* label {
  display: block;
  margin: 20px 0 0;
  border-bottom: 1px solid green;
}
label:hover {
  text-decoration: underline;
}
input {
  position: absolute;
  left: -999em;
}
.hide {
  width: 50%;
  background: red;
  height: auto;
  overflow: hidden;
  transition: opacity 1.5s linear, max-height 1.5s linear;
  opacity: 0;
  max-height: 0;
  border: none;
}
.hide p {
  padding: 10px;
  margin: 0;
}
.ex1 input[type="checkbox"]:checked + div {
  opacity: 1;
  max-height: 99em;
  border: 1px solid #000;
}
.follow {
  border-top: 1px solid blue;
  margin: 0;
} */
